@import 'main';

@media only screen and (max-width: 860px) {
  .album_detail__top__info {
    .name {
      font-size: 36px !important;
    }
  }
  .album_detail__bottom {
    grid-template-columns: repeat(2, minmax(200px, 377px)) !important;
  }
}

@media only screen and (max-width: 630px) {
  .album_detail__top {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 20px !important;
    padding-bottom: 30px !important;

    &__img {
      width: 100% !important;

      img {
        width: 255px !important;
      }
    }

    &__info {
      .name {
        font-size: 24px !important;
      }

      .author {
        font-size: 15px !important;
      }

      .tracks {
        font-size: 15px !important;
      }
    }
  }
  .album_detail__bottom {
    grid-template-columns: repeat(2, minmax(200px, 377px)) !important;
  }
}

@media only screen and (max-width: 485px) {
  .album_detail__bottom {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .track {
    width: 100% !important;
  }
}

.album_wrapper {
  padding-top: 22px;
  //margin-bottom: 80px;

  .album_detail {
    display: flex;
    flex-direction: column;

    &__top {
      display: grid;
      grid-template-columns: minmax(255px, 278px) auto;
      column-gap: 56px;
      padding-bottom: 44px;

      &__img {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        position: relative;
        max-height: 278px;
        min-height: 255px;

        img {
          width: 100%;
          height: 100%;
          margin: 0 auto;
          object-fit: cover;
          -o-object-fit: cover;
          border-radius: 13px;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        row-gap: 7px;

        &__block {
          //overflow: hidden;
          //white-space: nowrap;
          //text-overflow: ellipsis;
        }

        .name {
          font-weight: 700;
          font-size: 48px;
          line-height: 140%;
          color: $main-text;
        }

        .author {
          font-weight: 400;
          font-size: 19px;
          line-height: 120%;
          color: $main-text;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .tracks {
          font-weight: 400;
          font-size: 19px;
          line-height: 120%;
          color: $sub-text;
        }
      }
    }

    &__bottom {
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 377px));
      column-gap: 20px;
      row-gap: 20px;
    }
  }
}

.track {
  display: grid;
  grid-template-columns: 60px auto 60px;
  align-items: center;
  column-gap: 10px;
  max-width: 377px;
  height: 80px;
  min-width: 200px;

  &__img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
      -o-object-fit: cover;
    }

    &__player {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      height: 60px;
      width: 60px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    overflow: hidden;

    &__block {
      line-height: 120%;
      font-size: 15px;
    }

    .name {
      font-weight: 400;
      color: $sub-text;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .author {
      font-weight: 700;
      color: $main-text;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .duration {
      font-weight: 400;
      color: $sub-text;
    }
  }

  &__actions {
    align-self: center;
    justify-self: end;
    padding-right: 17px;

    &__icon {
      color: #d9d9d9 !important;
    }
  }
}
