$base-color: #007aff;
$main-text: #4f4f4f;
$sub-text: #a7a7a7;
$max-wrapper: 1185px;
$main-margin: 0px 20px;

@media only screen and (max-width: 740px) {
  .main-wrapper__album-list__container {
    grid-template-columns: repeat(3, minmax(158px, 278px)) !important;
  }
}

@media only screen and (max-width: 570px) {
  .main-wrapper__album-list__container {
    grid-template-columns: repeat(2, minmax(158px, 278px)) !important;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
}

.container_wrapper {
  max-width: $max-wrapper !important;
  margin: 0 auto;
}

.container {
  max-width: unset !important;
  padding: $main-margin;
}

.main-wrapper {
  &__breadcrumbs {
  }

  &__album-list {
    padding-bottom: 55px;

    &__title {
      font-weight: 700;
      font-size: 48px;
      color: #4f4f4f;
      padding-bottom: 20px;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(4, minmax(158px, 278px));
      row-gap: 20px;
      column-gap: 20px;
    }
  }
}
